:root {
        --color-primary: #434455;
        --color-secondary: #E7E9FC;
        --color-dark-bg: #2E2F42;
        --color-brand: #4D5AE5;
        --color-light: #fff;
        --color-light-bg: #F4F4FD;
        --color-bg-button: #404BBF;
}
.link {
        list-style-type: none;
}
body {
        color: var(--color-primary);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em;
}
/* Логотип */
.logo-web {
        color: var(--color-brand);
        font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
}
.logo-dark {
        font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-dark-bg);
}
.logo-light {
        color: var(--color-light-bg);
        font-family:'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
/* шапка */
.nav-link {
        text-decoration: none;
        color: var(--color-dark-bg);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
.nav-link:hover,
.nav-link:focus {
        color: var(--color-bg-button);
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;

}
.address-link {
        color: var(--color-primary);
        text-decoration: none;
        font-size: 16px;
        line-height: 1.5;
        font-style: normal;
        letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
        color: var(--color-bg-button);
        text-decoration: none;
        font-size: 16px;
        line-height: 1.5;
        font-style: normal;
}
/* секция герой */
.hero-section {
        background: var(--color-dark-bg);
}
.hero-title {
color: var(--color-light);
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
}
.hero-button {
        color: var(--color-light);
        font-size: 16px;
        font-weight: 500;
        font-family: 'Roboto',sans-serif;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: var(--color-brand);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}
.hero-button:hover,
.hero-button:focus{
        color: var(--color-light);
        font-weight: 500;
        background: var(--color-bg-button);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
/* секция слогон! */
.slogan-title {
        color: var(--color-dark-bg);
        letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}
/* секция чем занимаются */
.secondary-title {
        color: var(--color-dark-bg);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
}
/* секция команда */
.section-team {
        background:var(--color-light-bg);
}
.team-names {
        color: var(--color-dark-bg);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
/* подвал */
.footer-back {
        background: var(--color-dark-bg);
}
.footer-text {
        color: var(--color-secondary);
}
/* секция фильтр */
.filter-button {
        color: var(--color-brand);
        font-weight: 500;  
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.04em;
        background: var(--color-light-bg);
        border: 1px solid var(--color-secondary);
        border-radius: 4px;
        cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
        color: var(--color-light);
        font-weight: 500;
        background: var(--color-bg-button);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}
.filter-title {
        color: var(--color-dark-bg);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}