body{
        color:#434455;
        background: #fff;
   


}
/* ul{
        list-style-type: none;
} */
.header-link{
        color:#2e2f42


}
.header-link:hover{
        color:#404bbf ;

}
.button{
        color:#fff;
        border: #4D5AE5;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
}
.button:hover{
        background: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;


}